<% @lawyer.each do |f| %>
    <%= form_tag "/validate_lawyer" do %>
        <p>UUID:<%= text_field_tag 'uuid', @UUID, size: 36, disabled: true %></p>
        <p>Job:<%= text_field_tag 'job', f.job, size: 36,disabled: true %></p>
        <p>Name:<%= text_field_tag 'name', f.name, size: 36, disabled: true %></p>
        <p>State:<%= text_field_tag 'state', f.state, size: 36, disabled: true %></p>
        <p>Phone:<%= text_field_tag 'phone', f.phone, size: 36, disabled: true %></p>
        <p>Email:<%= text_field_tag 'mail', f.mail, size: 36, disabled: true %></p>
        <%= submit_tag "OK" %>
        <%= submit_tag "NOT-OK" %>
    <% end %>
<% end %>